{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <style>
        @media (min-width: 750px) {
            body {
                background: url('/static/img/img2.jpg');
                background-size: cover;
                background-position: 0 950px;
            }
        }

        .container {
            margin-top: 100px;
        }

        b {
            font-weight: 600;
        }

        @keyframes gambar {
            from {
                opacity: 0;
                transform: translate(0, 50px);
            }

            to {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        .satu {
            animation: gambar 1s;
        }

        .dua {
            animation: gambar 2s;
        }

        .tiga {
            animation: gambar 3s;
        }
    </style>
    <title>My Experience</title>
</head>

<body>
    <div class="container ">
        <div class="row  justify-content-center text-center">
            <div class="col-8">
                <h1 class="satu display-4">Halo selamat datang <br>di halaman <b>experience</b></br></h1>
                <p class="dua p2 lead">Pengalaman saya di dunia coding antara lain saya pernah mengikuti kelas online
                    dari
                    Sekolah koding dan Codepolitan, saya juga viewers dari chanel Web Programming UNPAS. Sejauh ini saya
                    sedikit memahami HTML, CSS, Javascript, PHP, dan Python. Membuat landing page dan membuat website
                    CRUD sederhana menggunakan
                    bahasa PHP merupakan penerapan dari ilmu yang saya dapatkan</p>
                <a class="tiga btn btn-primary" href="/"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>