.card {
    margin-top: 40px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
}

.index-body {
    margin-left: 100px;
}

.resume-body {
    margin-left: 50px;
}

.nav a {
    color: black;
}

.img1 {
    height: 350px;
    border-radius: 15px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
}

.img2 {
    height: 400px;
    border-radius: 15px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
}

@keyframes kiri {
    from {
        opacity: 0;
        transform: translate(-50px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes bawah {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* index animasi */
.indexanimasi1 {
    animation: kiri 1s;
}

.indexanimasi2 {
    animation: kiri 2s;
}

.img1 {
    animation: bawah 2s;
}

/* resume animasi */
.img2 {
    animation: bawah 2s;
}

.resumeanimasi1 {
    animation: kiri 1s;
}

.resumeanimasi2 {
    animation: kiri 1s;
}