{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>My Website</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body index-body mt-4">
                <div class="row mt-2">
                    <div class="col-8">
                        <h1 class="display-4 indexanimasi1">Halo nama saya <b>Kristian Kukuh Pribadi</b>
                        </h1>
                        <p class="p1 lead indexanimasi2">Kelahiran Purwokerto, 27 Januari 1994. Kesibukan sekarang
                            sedang belajar
                            pemrograman
                            khususnya <i>
                                web programming.</i></p>
                        <p class="p2 lead indexanimasi2">Harapan mengikuti kelas ini adalah bisa membangun
                            <i>website</i> dan mengenal
                            <i>framework <b>Django</b></i>
                            .
                        </p>
                        <p class="p3 lead indexanimasi2"><i class="pr-3">Email :</i>
                            cristiankukuh27@gmail.com
                        </p>
                        <p class="p3 lead indexanimasi2"><i class="pr-1">Follow me on Social media :</i>
                            <a href="https://www.facebook.com/cristian.kukuhp"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/cristiankukuh27"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/kukuhpribadi27/?hl=id"><i
                                    class="fab fa-instagram"></i></a>
                        </p>
                        <a href="/resume/" class="btn btn-outline-primary indexanimasi2">Resume</a>
                        <a href="/portfolio/" class="btn btn-outline-primary indexanimasi2">Portfolio</a>
                        <a href="/guestbook/" class="btn btn-outline-primary indexanimasi2">Guest Book</a>
                    </div>

                    <div class="col">
                        <img class="img1 mt-4" src="{% static 'img/img.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>