{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Resume</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body resume-body mt-5">
                <div class="row mt-3">
                    <div class="col">
                        <img class="img1" src="{% static 'img/img.jpg' %}" alt="">
                    </div>
                    <div class="col-8">
                        <div class="row ">
                            <div class="col resumeanimasi1">
                                <h4><i class="fas fa-user-graduate"></i> Pendidikan</h4>
                                <ul>
                                    <li>
                                        SD N 1 Karangklesem, Purwokerto 2000-2006
                                    </li>
                                    <li>
                                        SMP N 2 Purwokerto 2006-2009
                                    </li>
                                    <li>
                                        SMA 4 Purwokerto 2009-2012
                                    </li>
                                    <li>
                                        AMIKOM Purwokerto 2012-2016
                                    </li>
                                </ul>
                            </div>
                            <div class="col resumeanimasi1">
                                <h4><i class="fas fa-user-tie"></i> Pengalaman</h4>
                                <ul>
                                    <li>
                                        Anggota KPPS Pilkada 2018
                                    </li>
                                    <li>
                                        Anggota KPPS Pemilu 2019
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="resumeanimasi2">
                            <h6>HTML</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="10"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>CSS</h6>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PHP</h6>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 65%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Javascript</h6>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 55%"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <a href="/" class="btn btn-outline-primary">Home</a>
                            <a href="/portfolio/" class="btn btn-outline-primary">Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>